
/* The Modal (background) */

.title {
  height: 10px;
  padding: 30px;
  color: #3cff0b;
  font-size: 70px;
  text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 7px #3cff0b, 0 0 9px #3cff0b;
}

.event-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-right: 15px;
}

.label-text-event {
    color:#4286f4
}

.multi-select {
    margin-top: 10px;
}

.button-column {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 25px;
    padding-top: 25px;
}

.spacer {
   margin-top: 10px;
   margin-bottom: 10px;

}

.coordinate-section {
    padding-top: 20px;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.name-text-input {
    font-size: 15px;
    width: 100px;
}

.integer-input {
    font-size: 15px;
    width: 33px;
}

.coordinate-text {
    font-family: sans-serif;
    font-size: 15px;
    width: 50px;
    color: #aa0bff;
}

.game-space-editor-space {
    height: 20px;
}

.gameArea {
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gameCanvas{
    position: relative;
    font-size: 20;
    background-size: cover;
    background-image: url(./start_background.png);
    border: 3px solid #4286f4;
    box-shadow: 0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #4286f4,
    0 0 30px #4286f4,
    /* 0 0 40px #4286f4,
    0 0 55px #ff0080, 
     0 0 75px #ff0080 */
  }

.animationCanvas {
  position: relative;
  font-size: 20;
  background-size: cover;
  border: 3px solid #4286f4;
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #4286f4, 0 0 30px #4286f4;
  /* 0 0 40px #4286f4; */
  /* 0 0 55px #ff0080, */
  /* 0 0 75px #ff0080; */
}
.editor-heading{
    font-family: sans-serif;
    font-size: 30px;
    color: #753199;
    padding: 0px;
    margin: 0px;
    text-shadow: 0 0 5px rgb(119, 119, 119),
    0 0 5px rgb(111, 111, 111),
    0 0 7px rgba(215, 246, 160, 0.6),
    0 0 9px rgba(215, 246, 160, 0.6);
    
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: #72AB4B;
}



.scene-name-input-submit-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.level-editor-canvas {
    border: 3px solid #4286f4;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #4286f4, 0 0 30px #4286f4;
}

.modalText {
  font-family: sans-serif;
  /* width: 80%; */
  padding-top: 50px;
  font-size: 30px;
  color: rgba(215, 246, 160, 0.6);
  text-shadow: 0 0 5px rgb(119, 119, 119), 0 0 5px rgb(111, 111, 111), 0 0 7px rgba(215, 246, 160, 0.6), 0 0 9px rgba(215, 246, 160, 0.6);
}

.modal {
  display: block;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.pallet {
  display: flex;
  justify-content: center;
  z-index: 1;
}

/* Modal Content */

.modal-content {
  background-color: rgb(0, 0, 0);
  border: 3px solid #4286f4;
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #4286f4, 0 0 30px #4286f4;
  margin: auto;
  padding: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid #fefefe; */
}

.endModal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.pauseModal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.scoreText{
  font-family: sans-serif;
  /* width: 80%; */
  padding-top: 50px;
  font-size: 30px;
  color: rgba(215, 246, 160, 0.6);
  text-shadow: 0 0 5px rgb(119, 119, 119),
  0 0 5px rgb(111, 111, 111),
  0 0 7px rgba(215, 246, 160, 0.6),
  0 0 9px rgba(215, 246, 160, 0.6);
  }

/* The Close Button */

.close {
  color: #aaaaaa;
  float: right;
  font-size: 40px;
  font-weight: bold;
}
.endClose {
  color: #aaaaaa;
  float: right;
  font-size: 40px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.endClose:hover,
.endClose:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}





.title{
  height: 10px;
  padding: 30px;
  color: #3cff0b;
  font-size: 70px;
  text-shadow: 0 0 5px #fff,
  0 0 5px #fff,
  0 0 7px #3cff0b,
  0 0 9px #3cff0b;
 
}

.gameArea{
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameCanvas{
  font-size: 20;
  background-size: cover;
  background-image: url(./start_background.png);
  border: 3px solid #4286f4;
  box-shadow: 0 0 5px #fff,
  0 0 10px #fff,
  0 0 20px #4286f4,
  0 0 30px #4286f4;
  /* 0 0 40px #4286f4; */
  /* 0 0 55px #ff0080, */
  /* 0 0 75px #ff0080; */
}

.footer{
  font-family: sans-serif;
  
  padding-top: 50px;
  font-size: 30px;
  color: rgba(215, 246, 160, 0.6);
  text-shadow: 0 0 5px rgb(119, 119, 119),
  0 0 5px rgb(111, 111, 111),
  0 0 7px rgba(215, 246, 160, 0.6),
  0 0 9px rgba(215, 246, 160, 0.6);
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 17px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }