


.gameArea{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameCanvas{
  border: 3px solid hsl(140, 100%, 56%);
  box-shadow: 0 0 5px #fff,
  0 0 10px #fff,
  0 0 20px hsl(140, 100%, 56%),
  0 0 30px hsl(140, 100%, 56%);
  /* 0 0 40px hsl(140, 100%, 56%); */
  /* 0 0 55px #ff0080, */
  /* 0 0 75px #ff0080; */
}